### Задание 1
Скачайте с сайта grouplens.org...movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [2]:
import pandas as pd

In [6]:
data = pd.read_csv('movies.csv')
data.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [7]:
rating = pd.read_csv('ratings.csv')
rating.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

### Объединим рейтинги с названиями фильмов

In [12]:
joined = rating.merge(data, on ='movieId', how ='left')
joined.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

### Посчитаем, какой фильм получил больше всего оценок 5

In [23]:
best_movies = joined[joined['rating'] == 5]
best_movies['title'].value_counts()

Shawshank Redemption, The (1994)             153
Pulp Fiction (1994)                          123
Forrest Gump (1994)                          116
Matrix, The (1999)                           109
Star Wars: Episode IV - A New Hope (1977)    104
                                            ...
Buena Vista Social Club (1999)                 1
Exorcist III, The (1990)                       1
Front of the Class (2008)                      1
Spy Who Loved Me, The (1977)                   1
Benji the Hunted (1987)                        1
Name: title, Length: 2954, dtype: int64

### Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [25]:
data = pd.read_csv('power.csv')
data['country'].head()

0    Austria
1    Austria
2    Belgium
3    Belgium
4    Belgium
Name: country, dtype: object

In [26]:
summ = 0
e_use = pd.read_csv('power.csv', 'r', delimiter=',')
e_use2 = e_use[(e_use['year']>=2005)&(e_use['year']<=2010)&(e_use['quantity']>0)]
e_use3 = e_use2[e_use2.category.isin([4,12,21])]
summ = e_use3[e_use3.country.str.contains('|'.join(['Lat','Lit','Est']))]['quantity'].sum()
print('суммарное потребление: {}'.format(summ))

суммарное потребление: 240580.0

### Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

In [21]:
import pymysql

In [24]:
page_url = 'https://www.finam.ru/quotes/indices/'
df = pd.read_html(page_url)
df[0]

,Unnamed: 0,Инструмент,Посл. сделка,% Изм. цены,Открытие,Макс.,Мин.,Закрытие,"Объем, шт.",Время обн.
0,NaN,Индекс РТС,1603.1 ₽,-0.56%,1610.160,968.440,944.410,1612.080,979 725 275,16.07 18:50
1,NaN,Индекс МосБиржи 10,5732.47 ₽,-0.89%,5773.410,NaN,NaN,5784.140,37 658 138 452,16.07 18:50
2,NaN,Индекс МосБиржи,3770.15 ₽,-0.78%,3795.030,NaN,NaN,3799.970,72 584 122 641,16.07 18:50
3,NaN,CSI300 (Китай),5094.773,-1.1%,5140.904,5140.904,5090.632,5151.463,4 294 967 295,16.07 11:29
4,NaN,ASX200 (Австралия)*,7348.1,0.17%,7335.900,7348.100,7316.300,7335.900,NaN,16.07 09:11
5,NaN,Bovespa (Бразилия),125960.26,-1.18%,127467.880,128010.150,125807.950,127467.880,NaN,16.07 23:26
6,NaN,BSE Sensex (Индия),53140.06,-0.04%,53244.400,53290.810,52997.090,53158.850,NaN,16.07 14:30
7,NaN,CSI200 (Китай),5603.228,0%,5603.228,5603.228,5603.228,5603.228,NaN,29.01 10:00
8,NaN,Hang Seng (Гонконг),28004.68,0.03%,27972.560,28218.530,27878.530,27996.270,NaN,16.07 11:08
9,NaN,KOSPI (Корея),3276.91,-0.28%,3282.890,3282.890,3259.320,3286.220,1 050 525,16.07 09:30
10,NaN,Merval (Аргентина),63090.8,-0.62%,63484.550,63636.750,62954.240,63484.550,NaN,16.07 23:20
11,NaN,MOEXREPO акц 12:30,5.76 ₽,0.35%,5.760,NaN,NaN,5.740,62 360 063 179,16.07 12:30
12,NaN,MOEXREPO акц 19:00,4.11 ₽,0%,4.110,NaN,NaN,4.110,37 990 309 304,09.03 19:00
13,NaN,MOEXREPO обл 12:30,5.66 ₽,0.89%,5.660,NaN,NaN,5.610,372 030 865 375,16.07 12:30
14,NaN,MOEXREPO обл 19:00,4.08 ₽,16.57%,4.080,NaN,NaN,3.500,178 981 071 305,09.03 19:00
15,NaN,MOEXREPO1W обл 12:30,5.77 ₽,1.41%,5.770,NaN,NaN,5.690,72 941 130 141,16.07 12:30
16,NaN,MOEXREPO1W обл 19:00,4.03 ₽,0%,4.030,NaN,NaN,4.030,NaN,09.03 19:00
17,NaN,MOEXREPOUSD обл 12:30,0.27 ₽,0%,0.270,NaN,NaN,0.270,1 165 382 324,16.07 12:30
18,NaN,MOEXREPOUSD обл 19:00,0.26 ₽,13.04%,0.260,NaN,NaN,0.230,29 151 350,09.03 19:00
19,NaN,RPGCC КСУ 12:30,5.77 ₽,1.23%,5.770,NaN,NaN,5.700,70 752 291 000,16.07 12:30
20,NaN,RPGCC1W КСУ 12:30,5.82 ₽,1.75%,5.820,NaN,NaN,5.720,9 260 051 000,16.07 12:30
21,NaN,RPGCC1WE КСУ 19:00,4.18 ₽,8.29%,4.180,NaN,NaN,3.860,3 327 990 000,09.03 19:00
22,NaN,RPGCCE КСУ 19:00,4.01 ₽,17.94%,4.010,NaN,NaN,3.400,64 128 335 000,09.03 19:00
23,NaN,Shanghai Composite(Китай),3539.3,-0.71%,3559.530,3566.000,3537.730,3564.590,4 294 967 295,16.07 11:29
24,NaN,Индекс акций второго эшелона,6683.48 ₽,-0.63%,6736.840,NaN,NaN,6726.150,703 819 989,21.12.17 18:50
25,NaN,Индекс гос обл RGBI,143.96 ₽,0.01%,143.970,119.370,118.600,143.940,21 829 556 099,16.07 18:48
26,NaN,Индекс гос обл RGBI TR,605.18 ₽,0.03%,605.200,NaN,NaN,604.980,21 829 556 099,16.07 18:48
27,NaN,Индекс корп обл MOEX CBICP,93.27 ₽,-0.02%,93.300,NaN,NaN,93.290,1 276 692 125,16.07 18:49
28,NaN,Индекс корп обл MOEX CBITR,455.36 ₽,-0.01%,455.510,NaN,NaN,455.390,1 276 692 125,16.07 18:49
29,NaN,Индекс корп обл MOEX CP 3,117.08 ₽,-0.09%,117.190,NaN,NaN,117.190,76 399 646,16.07 18:49