In [1]:
import pandas as pd

### Заменяем пустые значения на NaN

In [13]:
missing_values = ['?']
horse_data = pd.read_csv('horse_data.csv', na_values = missing_values, header=None)
horse_data.head()

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,NaN,2.0,...,45.0,8.4,NaN,NaN,2.0,2,11300,0,0,2
1,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
2,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
3,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
4,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2

### Озаглавливаем столбцы

In [14]:
df = pd.DataFrame(horse_data)
df.rename(columns = {0:'surgery', 1:'age', 3:'rectal temperature', 4: 'pulse', 5: 'respiratory rate', 6:'temperature of extremities', 10: 'pain', 22: 'outcome'}, inplace = True)

In [19]:
### В описании столбцов в разделе Age молодая особь отмечена цифрой 2, в самом файле с данными 9. Меняем 9 на 2.
df['age'] = df['age'].replace (9, 2)

In [20]:
df.head()

,surgery,age,2,rectal temperature,pulse,respiratory rate,temperature of extremities,7,8,9,...,18,19,20,21,outcome,23,24,25,26,27
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,NaN,2.0,...,45.0,8.4,NaN,NaN,2.0,2,11300,0,0,2
1,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
2,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
3,1.0,2,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
4,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2

### Удаляем ненужные столбцы

In [34]:
df_new = df.drop([2,7,8,9,11,12,13,14,15,16,17,18,19,20,21,23,24,25,26,27], axis=1)

In [35]:
df_new

,surgery,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

### Посмотрим, сколько есть пропусков

In [36]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     299 non-null    float64
 1   age                         300 non-null    int64
 2   rectal temperature          240 non-null    float64
 3   pulse                       276 non-null    float64
 4   respiratory rate            242 non-null    float64
 5   temperature of extremities  244 non-null    float64
 6   pain                        245 non-null    float64
 7   outcome                     299 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB

In [37]:
### Сколько их в %
(df_new.isna().mean() * 100).round(2)

surgery                        0.33
age                            0.00
rectal temperature            20.00
pulse                          8.00
respiratory rate              19.33
temperature of extremities    18.67
pain                          18.33
outcome                        0.33
dtype: float64

### Посмотрим базовые статистики по каждому столбцу

In [40]:
df_new.describe()

,surgery,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,299.000000,300.000000,240.000000,276.000000,242.000000,244.000000,245.00000,299.000000
mean,1.397993,1.080000,38.167917,71.913043,30.417355,2.348361,2.95102,1.551839
std,0.490305,0.271746,0.732289,28.630557,17.642231,1.045054,1.30794,0.737187
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.00000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.500000,1.000000,2.00000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.500000,3.000000,3.00000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.00000,2.000000
max,2.000000,2.000000,40.800000,184.000000,96.000000,4.000000,5.00000,3.000000

In [43]:
###Максимум
print(df['surgery'].max())
print(df['age'].max())
print(df['rectal temperature'].max())
print(df['pulse'].max())
print(df['respiratory rate'].max())
print(df['temperature of extremities'].max())
print(df['pain'].max())
print(df['outcome'].max())

2.0
2
40.8
184.0
96.0
4.0
5.0
3.0

In [42]:
### Минимум
print(df['surgery'].min())
print(df['age'].min())
print(df['rectal temperature'].min())
print(df['pulse'].min())
print(df['respiratory rate'].min())
print(df['temperature of extremities'].min())
print(df['pain'].min())
print(df['outcome'].min())

1.0
1
35.4
30.0
8.0
1.0
1.0
1.0

In [44]:
### Среднеарифмететическое
print(df['surgery'].mean())
print(df['age'].mean())
print(df['rectal temperature'].mean())
print(df['pulse'].mean())
print(df['respiratory rate'].mean())
print(df['temperature of extremities'].mean())
print(df['pain'].mean())
print(df['outcome'].mean())

1.3979933110367893
1.08
38.16791666666669
71.91304347826087
30.417355371900825
2.348360655737705
2.951020408163265
1.5518394648829432

In [45]:
### Медиана
print(df['surgery'].median())
print(df['age'].median())
print(df['rectal temperature'].median())
print(df['pulse'].median())
print(df['respiratory rate'].median())
print(df['temperature of extremities'].median())
print(df['pain'].median())
print(df['outcome'].median())

1.0
1.0
38.2
64.0
24.5
3.0
3.0
1.0

In [46]:
### Мода возраста
age_counts = {}
for a in df['age'].round():
    if a not in age_counts:
        age_counts[a] = 1
    else:
        age_counts[a] += 1
print('Значение моды:', df['age'].round().mode()[0])

Значение моды: 1

In [47]:
### Мода операций
surgery_counts = {}
for s in df['surgery'].round():
    if s not in surgery_counts:
        surgery_counts[s] = 1
    else:
        surgery_counts[s] += 1
print('Значение моды:', df['surgery'].round().mode()[0])

Значение моды: 1.0

In [28]:
### Мода ректальной температуры
rt_counts = {}
for r in df['rectal temperature'].round():
    if r not in rt_counts:
        rt_counts[r] = 1
    else:
        rt_counts[r] += 1
print('Значение моды:', df['rectal temperature'].round().mode()[0])

Значение моды: 38.0

In [48]:
### Мода пульса
pl_counts = {}
for p in df['pulse'].round():
    if p not in pl_counts:
        pl_counts[p] = 1
    else:
        pl_counts[p] += 1
print('Значение моды:', df['pulse'].round().mode()[0])

Значение моды: 48.0

In [219]:
### Мода частоты дыхания
rrt_counts = {}
for r in df['respiratory rate'].round():
    if r not in rrt_counts:
        rrt_counts[r] = 1
    else:
        rrt_counts[r] += 1
print('Значение моды:', df['respiratory rate'].round().mode()[0])

Значение моды: 20.0

In [49]:
### Мода температуры конечностей
te_counts = {}
for t in df['temperature of extremities'].round():
    if t not in te_counts:
        te_counts[t] = 1
    else:
        te_counts[t] += 1
print('Значение моды:', df['temperature of extremities'].round().mode()[0])

Значение моды: 3.0

In [221]:
### Мода уровень боли
pain_counts = {}
for p in df['pain'].round():
    if p not in pain_counts:
        pain_counts[p] = 1
    else:
        pain_counts[p] += 1
print('Значение моды:', df['pain'].round().mode()[0])

Значение моды: 3.0

In [50]:
### Мода исход
outcome_counts = {}
for o in df['outcome'].round():
    if o not in outcome_counts:
        outcome_counts[o] = 1
    else:
        outcome_counts[o] += 1
print('Значение моды:', df['outcome'].round().mode()[0])

Значение моды: 1.0

In [223]:
### СКО
print(df['surgery'].std())
print(df['age'].std())
print(df['rectal temperature'].std())
print(df['pulse'].std())
print(df['respiratory rate'].std())
print(df['temperature of extremities'].std())
print(df['pain'].std())
print(df['outcome'].std())

0.49030464432881815
0.27174648819470204
0.7322886641121578
28.630556660735003
17.642231385134664
1.0450536920112758
1.3079395711243502
0.7371869448054933

In [51]:
### Дисперсия
print(df['surgery'].var())
print(df['age'].var())
print(df['rectal temperature'].var())
print(df['pulse'].var())
print(df['respiratory rate'].var())
print(df['temperature of extremities'].var())
print(df['pain'].var())
print(df['outcome'].var())

0.24039864425040888
0.07384615384615334
0.5362466875871686
819.7087747035575
311.24832824663054
1.0921372191863987
1.710705921712949
0.5434445915916574

In [231]:
### Квантиль
print(df['surgery'].quantile())
print(df['age'].quantile())
print(df['rectal temperature'].quantile())
print(df['pulse'].quantile())
print(df['respiratory rate'].quantile())
print(df['temperature of extremities'].quantile())
print(df['pain'].quantile())
print(df['outcome'].quantile())

1.0
1.0
38.2
64.0
24.5
3.0
3.0
1.0

In [52]:
### первый и третий квантиль
print(df['surgery'].quantile([0.25, 0.75]))
print(df['age'].quantile([0.25, 0.75]))
print(df['rectal temperature'].quantile([0.25, 0.75]))
print(df['pulse'].quantile([0.25, 0.75]))
print(df['respiratory rate'].quantile([0.25, 0.75]))
print(df['temperature of extremities'].quantile([0.25, 0.75]))
print(df['pain'].quantile([0.25, 0.75]))
print(df['outcome'].quantile([0.25, 0.75]))

0.25    1.0
0.75    2.0
Name: surgery, dtype: float64
0.25    1.0
0.75    1.0
Name: age, dtype: float64
0.25    37.8
0.75    38.5
Name: rectal temperature, dtype: float64
0.25    48.0
0.75    88.0
Name: pulse, dtype: float64
0.25    18.5
0.75    36.0
Name: respiratory rate, dtype: float64
0.25    1.0
0.75    3.0
Name: temperature of extremities, dtype: float64
0.25    2.0
0.75    4.0
Name: pain, dtype: float64
0.25    1.0
0.75    2.0
Name: outcome, dtype: float64

In [53]:
### Межквартильный размах
Q1 = df['surgery'].quantile(0.25)
Q3 = df['surgery'].quantile(0.75)
IQR = Q3 - Q1
IQR

1.0

In [54]:
### Межквартильный размах
Q1 = df['age'].quantile(0.25)
Q3 = df['age'].quantile(0.75)
IQR = Q3 - Q1
IQR

0.0

In [55]:
### Межквартильный размах
Q1 = df['rectal temperature'].quantile(0.25)
Q3 = df['rectal temperature'].quantile(0.75)
IQR = Q3 - Q1
IQR

0.7000000000000028

In [56]:
### Межквартильный размах
Q1 = df['pulse'].quantile(0.25)
Q3 = df['pulse'].quantile(0.75)
IQR = Q3 - Q1
IQR

40.0

In [57]:
### Межквартильный размах
Q1 = df['respiratory rate'].quantile(0.25)
Q3 = df['respiratory rate'].quantile(0.75)
IQR = Q3 - Q1
IQR

17.5

In [58]:
### Межквартильный размах
Q1 = df['temperature of extremities'].quantile(0.25)
Q3 = df['temperature of extremities'].quantile(0.75)
IQR = Q3 - Q1
IQR

2.0

In [59]:
### Межквартильный размах
Q1 = df['pain'].quantile(0.25)
Q3 = df['pain'].quantile(0.75)
IQR = Q3 - Q1
IQR

2.0

In [60]:
### Межквартильный размах
Q1 = df['outcome'].quantile(0.25)
Q3 = df['outcome'].quantile(0.75)
IQR = Q3 - Q1
IQR

1.0

### Выбросы

In [63]:
### Выбросы ['pulse']
Q1 = df_new['pulse'].quantile(0.25)
Q3 = df_new['pulse'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - (1.5 * IQR)
upper_bound = Q3 + (1.5 * IQR)
remove_outliers = df_new[df_new['pulse'].between(lower_bound, upper_bound, inclusive=True)]
remove_outliers

,surgery,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
6,1.0,1,37.9,48.0,16.0,1.0,3.0,1.0
...,...,...,...,...,...,...,...,...
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

In [65]:
### Область с выбросами ['pulse']
pd.concat([df_new, remove_outliers]).drop_duplicates(keep=False)

,surgery,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
3,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
41,2.0,2,39.0,150.0,72.0,NaN,NaN,1.0
52,2.0,1,NaN,NaN,NaN,1.0,1.0,1.0
55,1.0,2,38.6,160.0,20.0,3.0,3.0,2.0
58,1.0,1,NaN,NaN,20.0,4.0,5.0,2.0
74,1.0,2,NaN,NaN,NaN,NaN,NaN,2.0
93,2.0,1,NaN,NaN,NaN,3.0,5.0,2.0
115,2.0,1,NaN,NaN,40.0,3.0,3.0,1.0
117,2.0,1,39.5,NaN,NaN,3.0,3.0,3.0
126,1.0,1,38.7,NaN,NaN,3.0,5.0,1.0
151,1.0,1,39.3,NaN,NaN,4.0,4.0,2.0
159,2.0,1,NaN,NaN,12.0,1.0,2.0,1.0
160,1.0,1,NaN,NaN,NaN,NaN,4.0,1.0
174,2.0,1,NaN,NaN,NaN,3.0,4.0,2.0
204,1.0,1,39.2,NaN,23.0,3.0,4.0,1.0
216,2.0,1,NaN,NaN,NaN,NaN,NaN,1.0
227,1.0,2,NaN,NaN,NaN,NaN,NaN,1.0
255,1.0,2,38.8,184.0,84.0,1.0,4.0,2.0
275,1.0,2,38.8,150.0,50.0,1.0,5.0,2.0

In [69]:
### Выбросы ['surgery']
Q1 = df_new['surgery'].quantile(0.25)
Q3 = df_new['surgery'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - (1.5 * IQR)
upper_bound = Q3 + (1.5 * IQR)
remove_outliers = df_new[df_new['surgery'].between(lower_bound, upper_bound, inclusive=True)]
remove_outliers

,surgery,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

In [70]:
### Область выбросов ['surgery']
pd.concat([df_new, remove_outliers]).drop_duplicates(keep=False)

,surgery,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
132,NaN,1,38.0,48.0,20.0,3.0,4.0,NaN

In [74]:
### Выбросы ['age']
Q1 = df_new['age'].quantile(0.25)
Q3 = df_new['age'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - (1.5 * IQR)
upper_bound = Q3 + (1.5 * IQR)
remove_outliers = df_new[df_new['age'].between(lower_bound, upper_bound, inclusive=True)]
remove_outliers

,surgery,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
...,...,...,...,...,...,...,...,...
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

In [75]:
### Область выбросов ['age']
pd.concat([df_new, remove_outliers]).drop_duplicates(keep=False)

,surgery,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
3,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
9,2.0,2,38.3,90.0,NaN,1.0,5.0,1.0
13,2.0,2,38.0,92.0,28.0,1.0,1.0,2.0
16,1.0,2,NaN,128.0,36.0,3.0,4.0,2.0
23,1.0,2,38.3,130.0,60.0,NaN,2.0,1.0
39,1.0,2,39.2,146.0,96.0,NaN,NaN,2.0
41,2.0,2,39.0,150.0,72.0,NaN,NaN,1.0
55,1.0,2,38.6,160.0,20.0,3.0,3.0,2.0
74,1.0,2,NaN,NaN,NaN,NaN,NaN,2.0
75,1.0,2,39.7,100.0,NaN,3.0,2.0,3.0
82,1.0,2,38.1,100.0,80.0,3.0,3.0,1.0
103,1.0,2,38.0,140.0,68.0,1.0,3.0,1.0
109,1.0,2,38.4,84.0,40.0,3.0,3.0,2.0
135,1.0,2,38.1,136.0,48.0,3.0,5.0,2.0
191,2.0,2,NaN,100.0,44.0,2.0,4.0,1.0
212,1.0,2,38.9,120.0,30.0,1.0,3.0,1.0
227,1.0,2,NaN,NaN,NaN,NaN,NaN,1.0
229,1.0,2,38.5,120.0,70.0,NaN,NaN,1.0
244,1.0,2,38.2,124.0,88.0,1.0,2.0,1.0
252,1.0,2,38.8,124.0,36.0,3.0,2.0,2.0
255,1.0,2,38.8,184.0,84.0,1.0,4.0,2.0
262,2.0,2,38.6,88.0,28.0,NaN,NaN,1.0
275,1.0,2,38.8,150.0,50.0,1.0,5.0,2.0
287,2.0,2,39.5,84.0,30.0,NaN,NaN,1.0

In [79]:
### Выбросы ['rectal temperature']
Q1 = df_new['rectal temperature'].quantile(0.25)
Q3 = df_new['rectal temperature'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - (1.5 * IQR)
upper_bound = Q3 + (1.5 * IQR)
remove_outliers = df_new[df_new['rectal temperature'].between(lower_bound, upper_bound, inclusive=True)]
remove_outliers

,surgery,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...
292,1.0,1,37.0,66.0,20.0,1.0,4.0,2.0
294,2.0,1,38.5,40.0,16.0,1.0,2.0,1.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

In [80]:
### Область выбросов ['rectal temperature']
pd.concat([df_new, remove_outliers]).drop_duplicates(keep=False)

,surgery,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
7,1.0,1,NaN,60.0,NaN,3.0,NaN,2.0
8,2.0,1,NaN,80.0,36.0,3.0,4.0,3.0
16,1.0,2,NaN,128.0,36.0,3.0,4.0,2.0
20,1.0,1,39.9,72.0,60.0,1.0,5.0,1.0
...,...,...,...,...,...,...,...,...
274,1.0,1,NaN,76.0,NaN,NaN,NaN,3.0
281,2.0,1,40.0,78.0,NaN,3.0,2.0,2.0
293,1.0,1,NaN,78.0,24.0,3.0,NaN,3.0
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0

In [83]:
### Выбросы ['respiratory rate']
Q1 = df_new['respiratory rate'].quantile(0.25)
Q3 = df_new['respiratory rate'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - (1.5 * IQR)
upper_bound = Q3 + (1.5 * IQR)
remove_outliers = df_new[df_new['respiratory rate'].between(lower_bound, upper_bound, inclusive=True)]
remove_outliers

,surgery,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
6,1.0,1,37.9,48.0,16.0,1.0,3.0,1.0
...,...,...,...,...,...,...,...,...
294,2.0,1,38.5,40.0,16.0,1.0,2.0,1.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

In [84]:
### Область выбросов ['respiratory rate']
pd.concat([df_new, remove_outliers]).drop_duplicates(keep=False)

,surgery,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
3,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
7,1.0,1,NaN,60.0,NaN,3.0,NaN,2.0
9,2.0,2,38.3,90.0,NaN,1.0,5.0,1.0
29,2.0,1,37.7,48.0,NaN,2.0,1.0,1.0
...,...,...,...,...,...,...,...,...
271,1.0,1,37.7,80.0,NaN,3.0,5.0,1.0
274,1.0,1,NaN,76.0,NaN,NaN,NaN,3.0
281,2.0,1,40.0,78.0,NaN,3.0,2.0,2.0
284,2.0,1,38.5,54.0,NaN,1.0,3.0,1.0
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0

In [87]:
### Выбросы ['temperature of extremities']
Q1 = df_new['temperature of extremities'].quantile(0.25)
Q3 = df_new['temperature of extremities'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - (1.5 * IQR)
upper_bound = Q3 + (1.5 * IQR)
remove_outliers = df_new[df_new['temperature of extremities'].between(lower_bound, upper_bound, inclusive=True)]
remove_outliers

,surgery,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
6,1.0,1,37.9,48.0,16.0,1.0,3.0,1.0
...,...,...,...,...,...,...,...,...
294,2.0,1,38.5,40.0,16.0,1.0,2.0,1.0
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0

In [88]:
### Область выбросов ['temperature of extremities']
pd.concat([df_new, remove_outliers]).drop_duplicates(keep=False)

,surgery,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
17,2.0,1,37.5,48.0,24.0,NaN,NaN,1.0
23,1.0,2,38.3,130.0,60.0,NaN,2.0,1.0
25,2.0,1,37.8,60.0,42.0,NaN,NaN,1.0
36,2.0,1,38.3,112.0,16.0,NaN,NaN,3.0
37,1.0,1,37.8,72.0,NaN,NaN,5.0,1.0
39,1.0,2,39.2,146.0,96.0,NaN,NaN,2.0
41,2.0,2,39.0,150.0,72.0,NaN,NaN,1.0
53,2.0,1,38.6,40.0,20.0,NaN,NaN,1.0
72,1.0,1,37.7,56.0,NaN,NaN,NaN,2.0
74,1.0,2,NaN,NaN,NaN,NaN,NaN,2.0
81,1.0,1,37.3,40.0,NaN,NaN,2.0,1.0
87,2.0,1,NaN,40.0,16.0,NaN,NaN,3.0
90,2.0,1,38.0,52.0,16.0,NaN,2.0,1.0
95,1.0,1,37.3,48.0,20.0,NaN,3.0,1.0
96,2.0,1,NaN,84.0,36.0,NaN,NaN,1.0
106,1.0,1,38.3,52.0,96.0,NaN,NaN,1.0
113,1.0,1,36.8,60.0,28.0,NaN,NaN,2.0
121,1.0,1,38.3,80.0,40.0,NaN,4.0,3.0
128,1.0,1,37.4,84.0,20.0,NaN,2.0,3.0
129,1.0,1,38.4,49.0,NaN,NaN,NaN,1.0
130,1.0,1,37.8,30.0,12.0,NaN,NaN,2.0
141,2.0,1,36.0,42.0,30.0,NaN,NaN,2.0
148,1.0,1,38.3,132.0,NaN,NaN,2.0,1.0
149,2.0,1,38.7,48.0,24.0,NaN,1.0,1.0
160,1.0,1,NaN,NaN,NaN,NaN,4.0,1.0
161,1.0,1,38.3,42.0,24.0,NaN,NaN,2.0
165,1.0,1,39.4,120.0,48.0,NaN,NaN,3.0
169,1.0,1,NaN,65.0,24.0,NaN,5.0,3.0
177,1.0,1,NaN,68.0,14.0,NaN,4.0,2.0
181,2.0,1,37.8,48.0,14.0,NaN,3.0,1.0
190,1.0,1,37.1,40.0,8.0,NaN,3.0,1.0
202,1.0,1,37.5,48.0,40.0,NaN,NaN,3.0
210,1.0,1,37.9,68.0,20.0,NaN,2.0,2.0
216,2.0,1,NaN,NaN,NaN,NaN,NaN,1.0
217,1.0,1,38.0,76.0,18.0,NaN,NaN,1.0
227,1.0,2,NaN,NaN,NaN,NaN,NaN,1.0
229,1.0,2,38.5,120.0,70.0,NaN,NaN,1.0
232,1.0,1,38.5,30.0,18.0,NaN,NaN,1.0
239,1.0,1,38.1,70.0,22.0,NaN,5.0,3.0
260,2.0,1,38.0,40.0,25.0,NaN,4.0,1.0
262,2.0,2,38.6,88.0,28.0,NaN,NaN,1.0
263,1.0,1,37.1,75.0,36.0,NaN,4.0,2.0
268,1.0,1,38.2,42.0,20.0,NaN,NaN,1.0
274,1.0,1,NaN,76.0,NaN,NaN,NaN,3.0
280,1.0,1,38.6,48.0,12.0,NaN,1.0,1.0
283,1.0,1,38.2,72.0,18.0,NaN,NaN,1.0
287,2.0,2,39.5,84.0,30.0,NaN,NaN,1.0
289,1.0,1,38.0,50.0,36.0,NaN,3.0,1.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

In [91]:
### Выбросы ['pain']
Q1 = df_new['pain'].quantile(0.25)
Q3 = df_new['pain'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - (1.5 * IQR)
upper_bound = Q3 + (1.5 * IQR)
remove_outliers = df_new[df_new['pain'].between(lower_bound, upper_bound, inclusive=True)]
remove_outliers

,surgery,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
...,...,...,...,...,...,...,...,...
294,2.0,1,38.5,40.0,16.0,1.0,2.0,1.0
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0

In [92]:
### Область выбросов ['pain']
pd.concat([df_new, remove_outliers]).drop_duplicates(keep=False)

,surgery,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
7,1.0,1,NaN,60.0,NaN,3.0,NaN,2.0
17,2.0,1,37.5,48.0,24.0,NaN,NaN,1.0
19,2.0,1,39.4,110.0,35.0,4.0,NaN,1.0
24,1.0,1,38.1,60.0,12.0,3.0,NaN,1.0
25,2.0,1,37.8,60.0,42.0,NaN,NaN,1.0
27,1.0,1,37.8,48.0,12.0,3.0,NaN,1.0
36,2.0,1,38.3,112.0,16.0,NaN,NaN,3.0
39,1.0,2,39.2,146.0,96.0,NaN,NaN,2.0
41,2.0,2,39.0,150.0,72.0,NaN,NaN,1.0
53,2.0,1,38.6,40.0,20.0,NaN,NaN,1.0
68,2.0,1,NaN,52.0,16.0,1.0,NaN,1.0
72,1.0,1,37.7,56.0,NaN,NaN,NaN,2.0
74,1.0,2,NaN,NaN,NaN,NaN,NaN,2.0
87,2.0,1,NaN,40.0,16.0,NaN,NaN,3.0
96,2.0,1,NaN,84.0,36.0,NaN,NaN,1.0
106,1.0,1,38.3,52.0,96.0,NaN,NaN,1.0
113,1.0,1,36.8,60.0,28.0,NaN,NaN,2.0
129,1.0,1,38.4,49.0,NaN,NaN,NaN,1.0
130,1.0,1,37.8,30.0,12.0,NaN,NaN,2.0
141,2.0,1,36.0,42.0,30.0,NaN,NaN,2.0
152,1.0,1,NaN,100.0,NaN,3.0,NaN,1.0
157,1.0,1,37.8,60.0,24.0,1.0,NaN,3.0
161,1.0,1,38.3,42.0,24.0,NaN,NaN,2.0
165,1.0,1,39.4,120.0,48.0,NaN,NaN,3.0
170,2.0,1,37.5,44.0,20.0,1.0,NaN,1.0
185,1.0,1,38.5,120.0,60.0,4.0,NaN,1.0
188,1.0,1,38.5,60.0,NaN,1.0,NaN,1.0
195,2.0,1,38.0,44.0,12.0,3.0,NaN,1.0
202,1.0,1,37.5,48.0,40.0,NaN,NaN,3.0
208,1.0,1,37.8,88.0,80.0,3.0,NaN,3.0
213,1.0,1,37.6,45.0,12.0,3.0,NaN,1.0
216,2.0,1,NaN,NaN,NaN,NaN,NaN,1.0
217,1.0,1,38.0,76.0,18.0,NaN,NaN,1.0
227,1.0,2,NaN,NaN,NaN,NaN,NaN,1.0
229,1.0,2,38.5,120.0,70.0,NaN,NaN,1.0
232,1.0,1,38.5,30.0,18.0,NaN,NaN,1.0
243,1.0,1,38.4,92.0,20.0,1.0,NaN,1.0
257,1.0,1,38.7,96.0,28.0,3.0,NaN,2.0
262,2.0,2,38.6,88.0,28.0,NaN,NaN,1.0
268,1.0,1,38.2,42.0,20.0,NaN,NaN,1.0
274,1.0,1,NaN,76.0,NaN,NaN,NaN,3.0
283,1.0,1,38.2,72.0,18.0,NaN,NaN,1.0
287,2.0,2,39.5,84.0,30.0,NaN,NaN,1.0
293,1.0,1,NaN,78.0,24.0,3.0,NaN,3.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

In [95]:
### Выбросы ['outcome']
Q1 = df_new['outcome'].quantile(0.25)
Q3 = df_new['outcome'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - (1.5 * IQR)
upper_bound = Q3 + (1.5 * IQR)
remove_outliers = df_new[df_new['outcome'].between(lower_bound, upper_bound, inclusive=True)]
remove_outliers

,surgery,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

In [96]:
### Область выбросов ['outcome']
pd.concat([df_new, remove_outliers]).drop_duplicates(keep=False)

,surgery,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
132,NaN,1,38.0,48.0,20.0,3.0,4.0,NaN

### Заполнение пропусков

In [148]:
### Заполняем столбец ['surgery'] модой. Лошади, которым была сделана операция, встречаются чаще.
fill_mode = df_new
fill_mode['surgery'].fillna(df_new['surgery'].mode()[0], inplace=True)

In [149]:
### Посмотрим на изменения
print(df['surgery'].describe())
print('===========================')
print(fill_mode['surgery'].describe())

count    299.000000
mean       1.397993
std        0.490305
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
max        2.000000
Name: surgery, dtype: float64
===========================
count    300.000000
mean       1.397993
std        0.489484
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
max        2.000000
Name: surgery, dtype: float64

In [99]:
### Так как 1.39 лошадей были прооперированы да и в общем больны, ректальная температура должна быть выше нормы (37.8С)
### Заполним пропуски средним значением
fill_mean = df_new
fill_mean['rectal temperature'].fillna(df_new['rectal temperature'].mean(), inplace=True)
fill_mean['rectal temperature'].fillna(df_new['rectal temperature'].mean()).isna().sum()

0

In [131]:
### Посмотрим изменения. Изменилось std, а также 25%
print(df['rectal temperature'].describe())
print('===========================')
print(fill_mean['rectal temperature'].describe())

count    240.000000
mean      38.167917
std        0.732289
min       35.400000
25%       37.800000
50%       38.200000
75%       38.500000
max       40.800000
Name: rectal temperature, dtype: float64
===========================
count    300.000000
mean      38.167917
std        0.654705
min       35.400000
25%       37.900000
50%       38.167917
75%       38.500000
max       40.800000
Name: rectal temperature, dtype: float64

In [143]:
### В столбце ['pulse'] очень разные данные. Выбросы удалять нельзя, так так наши лошади проходят терапию,
### а почти половина из общего числа была прооперирована,поэтому высокая ЧСС дает нам данные о среднем значении ЧСС
### при остром синдроме недостаточности крообращения (Это мое предположение).Заменяю пропуски на моду.Пробовала менять на 
### медиану и на среднее, но mean и std остаются такими же, как и при замене на моду. Может, где-то я ошиблась?
horse_fill_mode = df_new
horse_fill_mode['pulse'].fillna(df_new['pulse'].mode()[0], inplace=True)

In [144]:
### Изменения
print(df['pulse'].describe())
print('===========================')
print(horse_fill_mode['pulse'].describe())

count    276.000000
mean      71.913043
std       28.630557
min       30.000000
25%       48.000000
50%       64.000000
75%       88.000000
max      184.000000
Name: pulse, dtype: float64
===========================
count    300.000000
mean      70.000000
std       28.215961
min       30.000000
25%       48.000000
50%       60.000000
75%       88.000000
max      184.000000
Name: pulse, dtype: float64

In [156]:
### Частоту дыхания ['resriratory rate'] заполню модой. Проблемы с кровообращением и повышенная ЧСС влияют на дыхание.
### Возьму моду, как часто встречающееся значение.
fill_mode = df_new
fill_mode['respiratory rate'].fillna(df_new['respiratory rate'].mode()[0], inplace=True)

In [157]:
### Изменения
print(df['respiratory rate'].describe())
print('===========================')
print(horse_fill_mode['respiratory rate'].describe())

count    242.000000
mean      30.417355
std       17.642231
min        8.000000
25%       18.500000
50%       24.500000
75%       36.000000
max       96.000000
Name: respiratory rate, dtype: float64
===========================
count    300.000000
mean      28.403333
std       16.366230
min        8.000000
25%       20.000000
50%       22.000000
75%       34.250000
max       96.000000
Name: respiratory rate, dtype: float64

In [158]:
### Температутру конечностей заполним значением mean. Она будет соотноситься с повышенной
### ректальной температурой 
fill_mean = df_new
fill_mean['temperature of extremities'].fillna(df_new['temperature of extremities'].mean(), inplace=True)
fill_mean['temperature of extremities'].fillna(df_new['temperature of extremities'].mean()).isna().sum()

0

In [159]:
### Изменения
print(df['temperature of extremities'].describe())
print('===========================')
print(horse_fill_mean['temperature of extremities'].describe())

count    244.000000
mean       2.348361
std        1.045054
min        1.000000
25%        1.000000
50%        3.000000
75%        3.000000
max        4.000000
Name: temperature of extremities, dtype: float64
===========================
count    300.000000
mean       2.348361
std        0.942120
min        1.000000
25%        1.000000
50%        2.348361
75%        3.000000
max        4.000000
Name: temperature of extremities, dtype: float64

In [166]:
### Уровень боли ['pain'] заполним модой,так как лошади больные и прооперированные, у них повышенная ЧСС, частота дыхания
#### и ректальная температура
fill_mode = df_new
fill_mode['pain'].fillna(df_new['pain'].mode()[0], inplace=True)

In [167]:
### Изменения
print(df['pain'].describe())
print('===========================')
print(horse_fill_mode['pain'].describe())

count    245.00000
mean       2.95102
std        1.30794
min        1.00000
25%        2.00000
50%        3.00000
75%        4.00000
max        5.00000
Name: pain, dtype: float64
===========================
count    300.000000
mean       2.960000
std        1.181689
min        1.000000
25%        2.000000
50%        3.000000
75%        4.000000
max        5.000000
Name: pain, dtype: float64

In [168]:
### Исход ['outcome'] заполним модой,так как, так как большая часть все-таки выжила.
fill_mode = df_new
fill_mode['outcome'].fillna(df_new['outcome'].mode()[0], inplace=True)

In [169]:
### Изменения
print(df['outcome'].describe())
print('===========================')
print(horse_fill_mode['outcome'].describe())

count    299.000000
mean       1.551839
std        0.737187
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
max        3.000000
Name: outcome, dtype: float64
===========================
count    300.000000
mean       1.550000
std        0.736642
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
max        3.000000
Name: outcome, dtype: float64